.phone {
    position: relative;
    width: 100%;
    padding-top: 100px;
    overflow: hidden;

    .centered {
        overflow: visible;
    }

    .text {
        float: left;
        width: 495px;
        padding-top: 105px;

        h1 {
            margin-left: -6px;
        }
    }

    .picture {
        width: 570px;
        float: right;

        img {
            float: left;
        }
    }
}

@media (max-width: 1130px) {
    .phone {
        .picture {
            width: 450px;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1010px) {
    .phone {
        .picture {
            width: 400px;

            img {
                width: 100%;
            }
        }

        .text {
            width: 400px;
            padding-top: 60px;
        }
    }
}

@media (max-width: 870px) {
    .phone {
        .picture {
            width: 340px;
        }

        .text {
            padding-top: 0;
        }
    }
}

@media (max-width: 815px) {
    .phone {
        .picture {
            width: 450px;
            margin: 0 auto;
            float: none;
            position: relative;
            z-index: 1;
        }

        .text {
            width: 100%;
            text-align: center;
            position: relative;
            z-index: 2;

            .actions {
                .dropdown {
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                }
            }
        }
    }
}

@media (max-width: 530px) {
    .phone {
        .picture {
            width: 270px;
        }
    }
}

@media (max-width: 400px) {
    .phone {
        padding-top: 70px;
        
        .text {
            .actions {
                .dropdown {
                    margin-right: 15px;

                    .btn_color {
                        padding: 0 40px 0 20px;
                    }

                    &.opened {
                        li {
                            a {
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
