.token {
    padding-top: 200px;
    position: relative;
    width: 100%;
    float: left;

    .centered {
        overflow: visible;
    }

    .chart {
        float: right;
        width: 459px;
        height: 457px;
        background: url('../img/chart.png') no-repeat 0 0;
        box-sizing: border-box;
        margin-top: 90px;
        text-align: center;
        padding-top: 175px;
        box-sizing: border-box;

        p {
            float: left;
            width: 100%;
            font-size: 15px;
            color: #8388c7;
            line-height: 100%;
        }

        h4 {
            color: #fff;
            font-size: 32px;
            font-weight: 900;
            padding-top: 22px;
            float: left;
            width: 100%;
            line-height: 100%;
        }

        div {
            font-weight: 400;
            float: left;
            width: 100%;
            font-size: 20px;
            line-height: 100%;
            color: #dee2ee;
            padding-top: 23px;

            span {
                color: #4885ff;
            }
        }
    }

    .text {
        float: left;
        width: 480px;

        .actions {
            float: left;
            width: 100%;
            padding-top: 130px;
        }

        .legend {
            float: left;
            width: 100%;
            padding-top: 10px;
            color: #8388c7;
            font-size: 14px;
            font-family: "Poppins";

            > div {
                float: left;
                width: 50%;

                p {
                    float: left;
                    width: 100%;
                    padding-top: 30px;

                    img {
                        vertical-align: middle;
                        margin-right: 17px;
                    }

                    span {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

@media (max-width: 1110px) {
    .token {
        .chart {
            @include zoom(.8);
        }
    }
}

@media (max-width: 930px) {
    .token {
        .text {
            width: 400px;
        }

        .chart {
            @include zoom(.75);
        }
    }
}

@media (max-width: 815px) {
    .token {
        padding-top: 130px;

        .text {
            width: 100%;
            text-align: center;
            padding-bottom: 50px;

            .actions {
                padding-top: 30px;
            }

            .legend {
                text-align: left;
            }
        }

        .chart {
            @include zoom(.75);
            margin: 0 auto;
            float: none;
            position: relative;
            overflow: hidden;
        }
    }
}

@media (max-width: 500px) {
    .token {
        padding-top: 80px;

        .text {
            .legend {
                > div {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .token {
        .chart {
            @include size(380px, 378px);
            background-size: 100% 100%;
            padding-top: 137px;
        }
    }
}
